%section#call-to-action
  .container
    .row
      .col-md-12
        .block
          %h2.title.wow.fadeInDown{"data-wow-delay" => ".3s", "data-wow-duration" => "500ms"}
            SO WHAT YOU THINK ?
          %p.wow.fadeInDown{"data-wow-delay" => ".5s", "data-wow-duration" => "500ms"}
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis,
            %br>/
            possimus commodi, fugiat magnam temporibus vero magni recusandae? Dolore, maxime praesentium.
          %a.btn.btn-default.btn-contact.wow.fadeInDown{"data-wow-delay" => ".7s", "data-wow-duration" => "500ms", :href => "contact.html"} Contact With Me
