%section#call-to-action
  .container
    .row
      .col-md-12
        .block
          %h2.title.wow.fadeInDown{"data-wow-delay" => ".3s", "data-wow-duration" => "500ms"}
            SO WHAT DO YOU THINK ?
          %p.wow.fadeInDown{"data-wow-delay" => ".5s", "data-wow-duration" => "500ms"}
            If you think this looks good or is interesting,
            %br>/
            press the white button below to get in contact.
          %a.btn.btn-default.btn-contact.wow.fadeInDown{"data-wow-delay" => ".7s", "data-wow-duration" => "500ms", :href => "contact.html"} Contact me »
