%footer
  .jumbotron
    .row
      .col-md-4
        %h3 My Portfolio
        %p Built using the awesome Middleman framework
      .col-md-4
        %h3 My Portfolio
        %p Built using the awesome Middleman framework
      .col-md-4
        %h3 My Portfolio
        %p Built using the awesome Middleman framework
