%footer#footer
  .container
    .col-md-8
      %p.copyright
        My Portfolio:
        %span
        Built using the awesome Middleman framework
    .col-md-4
      / Social Media
      %ul.social
        %li
          = link_to '<i class="ion-social-facebook"></i>'.html_safe, "http://wwww.facebook.com/susscreations", class: 'Facebook'
        %li
          = link_to '<i class="ion-social-twitter"></i>'.html_safe, "http://wwww.twitter.com/susscreations", class: 'Twitter'
        %li
          = link_to '<i class="ion-social-linkedin"></i>'.html_safe, "#", class: 'Linkedin'
        %li
          = link_to '<i class="ion-social-googleplus"></i>'.html_safe, "#", class: 'Google Plus'
