.row
  .col-md-12
    %nav.navbar.navbar-default.navbar-inverse{:role => "navigation"}
      .navbar-header
        %button.navbar-toggle{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
          %span.sr-only Show menu
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        %a.navbar-brand{:href => "#"} Suss Portfolio
      #bs-example-navbar-collapse-1.collapse.navbar-collapse
        %ul.nav.navbar-nav
          %li.active
            %a{:href => "#"} Link
          %li
            %a{:href => "#"} Link
-# %nav.nav
-#   %ul
-#     %li{ is_page_active('/') }
-#       = link_to 'Home', '/'
-#     %li{ is_page_active('/articles/') }
-#       = link_to 'Articles', '/articles/'
