%section.global-page-header
  .container
    .row
      .col-md-12
        .block
          %h2= @title
          %ol.breadcrumb
            %li
              %a{:href => "index.html"}
                %i.ion-ios-home
                Home
            %li.active About
