%section.global-page-header
  .container
    .row
      .col-md-12
        .block
          %h2= @title
          %ol.breadcrumb
            %li
              = link_to '<i class="ion-ios-home"></i> Home'.html_safe, "index.html"
            %li.active= @title
