%section#hero-area
  .container
    .row
      .col-md-12.text-center
        .block.wow.fadeInUp{"data-wow-delay" => ".3s"}
          %section.cd-intro
            %h1.wow.fadeInUp.animated.cd-headline.slide{"data-wow-delay" => ".4s"}
              %span HI, MY NAME IS SUSANNA  I AM A
              %br
                %span.cd-words-wrapper
                  %b.is-visible DESIGNER
                  %b DEVELOPER
                  %b DOG-OWNER
            %h2.wow.fadeInUp.animated{"data-wow-delay" => ".6s"}
              With 10 years experience, I've occupied many roles including digital design director,
              %br
                web designer and developer. This site showcases some of my work.
              =link_to "View projects »", "projects.html", :class => "btn btn-default btn-green"
