- @title = "About me"
= partial 'partials/pagetop'
%section.company-description
  .container
    .row
      .col-md-6.wow.fadeInLeft{"data-wow-delay" => ".3s"}
        = image_tag 'sussen.jpg', class: "img-responsive om"
      .col-md-6
        .block
          %h3.subtitle.wow.fadeInUp{"data-wow-delay" => ".3s", "data-wow-duration" => "500ms"} About me (in swedish for now)
          %p.wow.fadeInUp{"data-wow-delay" => ".5s", "data-wow-duration" => "500ms"}
            Jag håller till i Halmstad. Bor ni en bit därifrån och är intresserade av min hjälp kan vi säkerligen komma överens om något.
          %p.wow.fadeInUp{"data-wow-delay" => ".5s", "data-wow-duration" => "500ms"}
            Jag bor just nu med hund och sambo (och inga fler djur) i en lägenhet på södra sidan Nissan. Jag önskar mig just nu marsvin att träna och ta hand om, men förnuftet säger att vi har varken tid eller plats. En dag ska vi bo i ett hus på landet med plats för egna höns och fler djur, men idag räcker det med en Spaniel.
          %p.wow.fadeInUp{"data-wow-delay" => ".5s", "data-wow-duration" => "500ms"}
            Jag arbetar på ett ”vanligt jobb” dagtid så min verksamhet sker på helger och kvällar, något som jag hoppas passar de flesta bra.
          %p.wow.fadeInUp{"data-wow-delay" => ".5s", "data-wow-duration" => "500ms"}
            Eftersom jag arbetar dagtid ser jag allra helst kontakt via mail, där vi sedan kommer överens om datum för träff eller telefonsamtal.
