- @title = "About me"
= partial 'partials/pagetop'
%section.company-description
  .container
    .row
      .col-md-6.wow.fadeInLeft{"data-wow-delay" => ".3s"}
        = image_tag 'sussen.jpg', class: "img-responsive om"
      .col-md-6
        .block
          %h3.subtitle.wow.fadeInUp{"data-wow-delay" => ".3s", "data-wow-duration" => "500ms"} About me
          %p.wow.fadeInUp{"data-wow-delay" => ".5s", "data-wow-duration" => "500ms"}
            I live in Halmstad. Do you live away from there and are interested in my help I'm sure we can come to an arrangement.
          %p.wow.fadeInUp{"data-wow-delay" => ".6s", "data-wow-duration" => "500ms"}
            At the moment I live with two dogs and my partner (and a few fishies) in an apartment on the southern side of the river Nissan. One day we will live on the countryside with room for chickens and more animals, but right now the ones we have are enough.
          %p.wow.fadeInUp{"data-wow-delay" => ".7s", "data-wow-duration" => "500ms"}
            I work a "regular job" on daytime so this business is run at evenings and weekends.
          %p.wow.fadeInUp{"data-wow-delay" => ".8s", "data-wow-duration" => "500ms"}
            Since I work in the days I prefer contact via e-mail where we set up a time for a meeting, call or skype-session. 
