- @title = "Contact"
= partial 'partials/pagetop'
%h3.subtitle.wow.fadeInUp{"data-wow-delay" => ".3s", "data-wow-duration" => "500ms"} Maila mig
%p.wow.fadeInUp{"data-wow-delay" => ".5s", "data-wow-duration" => "500ms"}
  = mail_to 'webb@susscreations.se', "webb@susscreations.se"
